<html>

<head>
	<title>Flipnote by {{Username}}</title>
	<meta name="upperlink" content="http://flipnote.hatena.com/ds/v2-xx/movie/{{CreatorID}}/{{Filename}}.ppm">
	<meta name="starbutton1"
		content="http://flipnote.hatena.com/ds/v2-xx/movie/{{CreatorID}}/{{Filename}}.star?starcolor=green,9001">
	<meta name="starbutton2"
		content="http://flipnote.hatena.com/ds/v2-xx/movie/{{CreatorID}}/{{Filename}}.star?starcolor=red,9001">
	<meta name="starbutton3"
		content="http://flipnote.hatena.com/ds/v2-xx/movie/{{CreatorID}}/{{Filename}}.star?starcolor=blue,9001">
	<meta name="starbutton4"
		content="http://flipnote.hatena.com/ds/v2-xx/movie/{{CreatorID}}/{{Filename}}.star?starcolor=purple,9001">
	<meta name="savebutton" content="http://flipnote.hatena.com/ds/v2-xx/movie/{{CreatorID}}/{{Filename}}.ppm">
	<meta name="playcontrolbutton" content="">
</head>

<body>
	<table width="240" border="0" cellspacing="0" cellpadding="0" class="tab">
		<tr>
			<td class="border" width="5" align="center">
				<div class="border"></div>
			</td>
			<td class="border" width="70" align="center">
				<div class="border"></div>
			</td>
			<td class="border" width="95" align="center">
				<div class="border"></div>
			</td>
		</tr>
		<tr>
			<td class="space"> </td>
			<td class="tabon" align="center">
				<div class="on" align="center">Description</div>
			</td>
			<td class="taboff" align="center">
				<a class="taboff"
					href="http://flipnote.hatena.com/ds/v2-eu/movie/{{CreatorID}}/{{Filename}}.htm?mode=commentshalfsize">Comments({{CommentCount}})</a>
			</td>
		</tr>
	</table>
	<div class="pad5b"></div><div class="notice2" align="center">
		This Flipnote is a spin-off.
	</div>
	<table width="226" border="0" cellspacing="0" cellpadding="0" class="detail">{{PageEntries}}
	</table>
</body>

</html>